/* Algemeen */

* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }

  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #045746;
    color: rgb(255, 255, 255);
    max-height: 200px;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: hsla(0, 25%, 73%, 0.365);
    padding: 20px;
    max-height: 100%;
  }

  .introtekst{
    text-align: justify;
    text-justify: inter-word;
    margin: 50px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    font-family: helvetica;
  }
  
  /* Profielfoto */
  .profielfoto {
    background-size: 100% 100%;
    background-image: url("00. Profielfoto.jfif");
    background-color: #aaa;
    border-radius: 500px;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: -120px;
    transition: transform .2s;
  }

  .profielfoto:hover{
    transform: scale(1.2);
  }

  .socials{
    margin-top: 50px;
    margin-left: 50px;
  }

  .mail{
    margin-top: -100px;
    text-align: center;
  }

  .linkedin{
    margin-left: 130px;
    text-align: center;
  }

  .locatie{
    margin-left: 235px;
    margin-top: -100px;
    text-align: center;
  }

  .w1{
    background-color: hsla(0, 25%, 73%, 0.365);
    border-radius: 50px;
    display: inline-block;
  }

  .w1tekst{
    position: relative;
    top: 30px;
    left: 30px;
    word-wrap: break-word;
  }

  .w1tekstcenter{
    margin-right: 20px;
  }

  .w2{
    background-color: hsla(0, 25%, 73%, 0.365);
    border-radius: 50px;
  }

  .w2tekst{
    position: relative;
    top: 30px;
    left: 30px;
    word-wrap: break-word;
  }

  .o1{
    background-color: hsla(0, 25%, 73%, 0.365);
    border-radius: 50px;
  }

  .o1tekst{
    position: relative;
    top: 30px;
    left: 30px;
    word-wrap: break-word;
  }

  .o2{
    background-color: hsla(0, 25%, 73%, 0.365);
    border-radius: 50px;
  }

  .o2tekst{
    position: relative;
    top: 30px;
    left: 30px;
  }

  /* Responsive layout */
  @media (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }